{{ define "todos/show.html" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/css/index.css">
    <title>Sample App</title>
</head>
<body>
    <h2>{{ .todo }}</h2>
    <h2>追加</h2>
		<form method="put" action="todos/{{ .ID }}" class="post-form">
				<p>内容<input 
					type="text" 
					name="text" 
					size="30" 
					placeholder="入力してください"
					value="{{ .Text }}"
				></p>
        <p>状態
            <select name="status" value="{{ .Status }}">
                <option value=0>Task</option>
                <option value=1>ThisWeek</option>
                <option value=2>Doing</option>
                <option value=3>Review</option>
                <option value=4>Done</option>
                <option value=5>Close</option>
            </select>
        </p>
        <p>見積もり
            <input type="number" name="estimate" value="{{ .Estimate }}">
        </p>
        <p>実際
            <input type="number" name="time" value="{{ .Time }}">
        </p>
        <p><input type="submit" value="Send"></p>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $('form').submit(function(e){
            e.preventDefault()
            var data = $('form').serializeArray();
            console.log(data)
            data = parseJson(data);
            console.log(data)
            $.ajax({
                url:           '/todos/new',
                type:          'post',
                dataType:      'json',
                contentType:   'application/json',
                scriptCharset: 'utf-8',
                data:          JSON.stringify(data)
            })
        })

        var parseJson = function(data) {
            var returnJson = {};
            for (idx = 0; idx < data.length; idx++) {
                if (data[idx].name == 'text') {
                    returnJson[data[idx].name] = data[idx].value
                } else {
                    value = data[idx].value
                    returnJson[data[idx].name] = Number(value)
                }
            }
            return returnJson;
        }
    </script>
</body>
</html>
{{ end }}